body {
	margin:0 0;
}

div.header{
	width:100%;
	height:80px;
	background-color:#294064;
}

div.header div.logo{
	background:url(images/logo.png) no-repeat;
	height:74px;
	width:250px;
}

div.body{
	height:80%;
	width:100%;
}

div.body table#body_table{
	background-color:#294064;
	border:0px;
	width:100%;
	height:100%;
}
